body {
  background: #FFFFFF;
  color: #7F7F7F;
  font-family: 'Rubik', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER */

header {
  padding-top: 26px;
  box-sizing: border-box;
  height: 105px;
  background: #F6F6F6;
}

.site-logo {
  text-decoration: none;
  padding: 9px 6px 8px;
  background: #FFFFFF;
  border-radius: 7px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #7296EE;
  margin-right: 10px;
}

header p {
  font-weight: 500;
  font-size: 16px;
  margin-left: 25px;
}

header p span {
  color: #2959CE;
  font-weight: bold;
}

header input {
  max-width: 275px;
  height: 45px;
  border: none;
  background: #FFFFFF;
  border-radius: 60px;
  padding: 0 41px;
  color: #8D8D8D;
}

.language {
  width: 70px;
  height: 36px;
  background: #DCE6FF;
  border-radius: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
}

.language a {
  text-decoration: none;
  font-size: 13px;
  color: #000000;
}

.lang_active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: 3px;
  border-radius: 15px;
  background: #FFFFFF;
}

.language a:last-child {
  color: #A6A6A6;
  padding-right: 10px;
}

.header_btn {
  width: 89px;
  height: 45px;
  background: #7296EC;
  border-radius: 10px;
  border: none;
  margin-left: 25px;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 16px;
}

/* Navbar */

nav {
  align-items: center;
  height: 71px;
  display: flex;
  justify-content: space-between;
}

hr {
  width: 1200px;
  color: #D1D1D1;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #7F7F7F;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advertise {
  margin: 40px 0 50px;
  border-radius: 8px;
  width: 1200px;
  height: 128px;
}

/* Main */

main .row {
  margin-bottom: 10px;
}

.main_box {
  box-sizing: border-box;
  max-width: 393px;
  height: 382px;
  background: #F6F6F6;
  border-radius: 15px;
  padding: 20px 17px 15px;
}

.main_box a {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  color: #000000;
}

.main_box p {
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
}

.main_box img {
  width: 359px;
  height: 165px;
  border-radius: 10px;
}

.box_src {
  display: flex;
  justify-content: start;
  align-items: center;
}

.box_src img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.box_src p {
  font-size: 12px;
  line-height: 14px;
  color: #5E5F61;
  margin-left: 10px;
}

.main_btn {
  background: url(..//img/main_bottom.jpg);
  margin: 50px auto;
  background-size: cover;
  width: 1050px;
  height: 100px;
  padding: 24px 30px;
  align-items: center;
  border-radius: 15px;
  box-sizing: border-box;
}

.main_btn h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

.main_btn button {
  width: 149px;
  height: 50px;
  background: #F78B3B;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
}

/* section news */

section h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-top: 60px;
  margin-bottom: 20px;
}

.section-row {
  display: flex;
  justify-content: space-between;
}

.news-left-side {
  width: 797px;
  margin-right: 10px;
}

.news-box {
  box-sizing: border-box;
  padding: 20px 17px;
  margin-bottom: 10px;
  display: flex;
  background: #F6F6F6;
  border-radius: 15px;
}

.news-box img {
  margin-right: 15px;
  width: 210px;
  height: 165px;
  border-radius: 10px;
}

.section-news-title-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 10px;
}

.section-news-article {
  margin: 10px 0 17px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
}

.section-news-src {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.section-news-src img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.section-news-src p {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #5E5F61;
}

.section-right-side {
  box-sizing: border-box;
  width: 393px;
}

.right-side-news {
  margin-bottom: 10px;
  background: #F6F6F6;
  border-radius: 15px;
  padding: 20px 17px;
}

.right-side-news h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0 0 25px;
}

.right-side-news a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.right-side-news p {
  margin: 8px 0 0;
  font-size: 13px;
  line-height: 15px;
  color: #5E5F61;
}

.section-inline-news hr {
  width: 359px;
  height: 1px;
  margin: 20px 0;
  background-color: #D2D2D2;
  border: none;
}

.section-more-btn {
  margin: 7px 0 100px;
  box-sizing: border-box;
  width: 796px;
  background: #EAEAEA;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding: 17px 0;
  border: none;
  cursor: pointer;
}

/* Footer */

footer {
  background: #7297EF;
  padding: 40px 0;
}

.container-footer {
  width: 1000px;
  margin: 0 auto;
}

.footer-logo {
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.footer-row {
  display: flex;
}

.footer-row p {
  box-sizing: border-box;
  display: inline-block;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 19px;
  width: 230px;
  margin: 0 170px 0 0;
}

.footer-row ul {
  margin: 0;
  padding: 0;
  display: block;
  width: 300px;
}

.footer-row ul li {
  list-style: none;
  margin-bottom: 20px;
}

.footer-row ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #FFFFFF;
}

.container-footer hr {
  width: 1000px;
  border: none;
  height: 1px;
  background: #CECECE;
  margin: 10px 0 20px;
}

footer .row p {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  margin: 0;
}

.footer-social-icons {
  margin: 0;
  list-style: none;
  display: flex;
}

.footer-social-icons li {
  margin-left: 25px;
}